@model ReferralApp.Models.Client

@{
    ViewBag.Title = "Forgot password";
}


<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body>
    <div class="dimensiontest">
        <div class="fpageheadbanner">
            <img class="fpageClogo" src="~/Content/Images/FSlogo.png" />
        </div>
        <div class="triangle"></div>
        
    @if (ViewBag.exceptionthrownbool == null && ViewBag.successbool == null)
    {
        <h3 class="fppageline1">Forgot your Password?</h3>
        <h4 class="fppagehead2">Don't worry!</h4>

        <h4 class="fppageline1b">Don't sweat the small stuff! We all have trouble remembering the little things from time to time.</h4>

        <h4 class="fppagehead2">Enter your email below to receive your password retrieval instructions.</h4>
    }

              
        @if (ViewBag.exceptionthrownbool != null && ViewBag.exceptionthrownbool)
        {
            <h3 id="ValidationSummaryMessage2">@ViewBag.ValidationSummaryMessage</h3>
        }
        
        
        @if (ViewBag.successbool != null && ViewBag.successbool)
        {
            <h3 id="ValidationSummaryMessage3">@ViewBag.SuccessSummaryMessage</h3>

            <h5 class="fppagehead4"> <a href="http://dev.fotostore.ie/Referral/login?logintype=referrallogin">Login</a></h5><style>a:link{ color: white;}</style>
        }
        
     
        
        
        
        @using (Html.BeginForm("ForgotPassword", "ForgotPassword"))
        {
            <div class="form-horizontal">

                <div class="form-group">
                    <div class="col-md-10">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true" style="color: rgb(255, 255, 255)"></i></span>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your email" } })
                        </div>
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10">
                        <input type="submit" value="SUBMIT" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }

    </div>

</body>

<script>
    $(document).ready(function () {
        console.log("ready!");


        $(".btn").click(function (e) {

            if (!$("form").valid()) {
                $("input").each(function () {
                    var $this = $(this);
                    resetFieldValidation($this);
                    if ($this.hasClass("input-validation-error")) {
                        $this.prev(".input-group-addon").css("background-color", "red");
                        $this.parent().next(".text-danger").addClass("custom-val-message");
                    }
                });
            }
        });

        $("#Email").on('input',
            function (e) {
                if (!$("#Email").valid()) {
                    $("input").each(function () {
                        var $this = $(this);
                        resetFieldValidation($this);
                        if ($this.hasClass("input-validation-error")) {
                            $this.prev(".input-group-addon").css("background-color", "red");
                            $this.parent().next(".text-danger").addClass("custom-val-message");
                        }
                    });
                }
            });


        function reset() {
            $("input").each(function () {
                $(".text-danger").removeClass("custom-val-message");
                $('.input-group-addon').css("background-color", "rgb(230, 0, 126)");
            });
        }

        $("input").on('input',
            function (e) {
                resetFieldValidation($(this));
            });

        $("#Email").on('input',
            function (e) {
                var $this = $(this);

                if ($this.hasClass("input-validation-error")) {
                    $this.prev(".input-group-addon").css("background-color", "red");
                    $this.parent().next(".text-danger").addClass("custom-val-message");
                }
            });


        function resetFieldValidation($input) {
            $input.prev(".input-group-addon").css("background-color", "rgb(230, 0, 126)");
            $input.parent().next(".custom-val-message").removeClass("custom-val-message");
        }
    });




</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
  